In [3]:
import pandas as pd

In [4]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [5]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [6]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [8]:
s.fillna(method = 'ffill')#reemplaza el contenido de un campo cuando encuentra un nulo 
                          #por el campo del recorrido anterio comenzando desde el principio

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [9]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [10]:
s.fillna(method = 'bfill')#reemplaza el contenido de un campo cuando encuentra un nulo 
                          #por el campo del recorrido anterio comenzando desde el final

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [12]:
s.fillna(s.mean())#reemplaza el contenido de un campo cuando encuentra un nulo 
                  #por el campo del recorrido anterio comenzando desde el principio
                  #por el valor de la media

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [19]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [20]:
s1 = s.fillna(method = 'ffill', limit = 1)#reemplaza el contenido de un campo cuando encuentra 
                #un nulo por el campo del recorrido anterio comenzando desde el principio por 
                #el valor de la media con la restriccion que solo lo hara una vez cada vez que
                #encuentre un valor nulo en donde esten seguidos
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [21]:
s2=s1.fillna(method = 'bfill', limit = 1)
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [28]:
atletas = pd.DataFrame([
['Marcos', 9.62], ['Pedro', None], ['Juan', 9.69], 
['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
['Ary', None], ['Carlos', 9.74]], 
columns = ['Corredor', 'Mejor tiempo'])
atletas

  Corredor  Mejor tiempo
0   Marcos          9.62
1    Pedro           NaN
2     Juan          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [23]:
#Tenga en cuenta que el tiempo de algunos atletas no se registró debido a un error en el 
#proceso de medición. Observando los datos y teniendo un conocimiento previo del desempeño 
#de cada atleta, usted, como científico de datos, decide que es razonable para este caso 
#específico atribuir el tiempo promedio de todos los atletas a los datos faltantes. Marque 
#la forma correcta de hacer esto en Colab:

In [ ]:
a=atletas.fillna(atletas.mean(), inplace = True)
a