In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaesdaesdasesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()#valores que son unicos en una serie

array(['a', 's', 'd', 'e'], dtype=object)

In [4]:
s.value_counts()#retorna cuantas coincidencias tiene esos valores unicos

a    5
s    5
d    4
e    3
Name: count, dtype: int64

In [5]:
CSV='data/alquiler.csv'
datos = pd.read_csv(CSV, sep = ';')

In [6]:
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [7]:
datos.Tipo.value_counts()

Tipo
Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: count, dtype: int64

EJEMPLOS

In [13]:
# Supongamos que estamos probando las monedas que utilizarán los árbitros de fútbol 
#en las competiciones de la Copa del Mundo. Actualmente, estas monedas están 
#personalizadas y se utilizan en determinados momentos del juego para decidir, por suerte, 
#una disputa. Nuestro objetivo es verificar que las monedas que se utilizarán en los juegos 
#no sean viciadas.
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'
# Para sacar nuestras conclusiones, necesitamos construir el siguiente DataFrame:
# 	Faces	count	count	count	count	count
# 	Cara	 25	     26	     19	     23	     25
# 	Crown	 25	     24	     31	     27	     25

In [9]:
eventos = {'m1': list(m1), 
                'm2': list(m2), 
                'm3': list(m3), 
                'm4': list(m4), 
                'm5': list(m5)}
monedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Crown'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in monedas:
    df = pd.concat([df, monedas[item].value_counts()], 
                    axis = 1)
df

   Faces  count  count  count  count  count
c   Cara     25     26     19     23     25
C  Crown     25     24     31     27     25