<a href="https://colab.research.google.com/github/ahcamachod/1918-machine-learning-clasificacion-con-sklearn/blob/proyecto-final/ML_clasificacion_con_SKLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aula 2: Pruebas replicables, estratificación, lectura de datos de internet.

In [1]:
import pandas as pd
# URI = URL
# Un URI (Identificador Uniforme de Recursos de sus siglas en inglés: 
# Uniform Resource Identifier) es una cadena que se refiere a un recurso. 
# Los más comunes son URLs, que identifican el recurso dando su ubicación en la Web.
uri = 'docs/tracking.csv'
#uri = 'https://gist.githubusercontent.com/ahcamachod/38673f75b54ec62ffc290eff8e7c716e/raw/6eaa07e199d9f668bf94a034cb84dac58c82fa4f/tracking.csv'
datos = pd.read_csv(uri)
datos.sample(5)

    home  how_it_works  contact  bought
29     0             0        1       0
32     0             0        1       0
78     0             0        1       0
53     1             1        0       0
37     0             0        1       0

In [2]:
mapa = {
          "home":"principal",
          "how_it_works":"como_funciona",
          "contact":"contacto",
          "bought":"compro"
        }

datos = datos.rename(columns=mapa)
datos.sample(3)

    principal  como_funciona  contacto  compro
58          1              0         1       1
12          0              0         1       0
78          0              0         1       0

In [3]:
x = datos[['principal','como_funciona','contacto']]
x.head()

   principal  como_funciona  contacto
0          1              1         0
1          1              1         0
2          1              1         0
3          1              1         0
4          1              1         0

In [4]:
y = datos.compro
y.head()

0    0
1    0
2    0
3    0
4    0
Name: compro, dtype: int64

In [5]:
datos.shape

(99, 4)

In [6]:
x_train = x[:75]
y_train = y[:75]
x_test = x[75:]
y_test = y[75:]

In [7]:
y_train.value_counts()

compro
0    48
1    27
Name: count, dtype: int64

In [9]:
27/75# 27 compraron de los primeros 75 registros y 48 no compraron

0.36

In [10]:
y_test.value_counts()

compro
0    18
1     6
Name: count, dtype: int64

In [11]:
6/24# 6 compraron de los 24 registros restantes y 18 no compraron

0.25

In [12]:
print(f"Entrenaremos con {len(x_train)} elementos y probaremos con {len(x_test)} elementos.")

Entrenaremos con 75 elementos y probaremos con 24 elementos.

In [13]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score


model = LinearSVC()
model.fit(x_train,y_train)
previsiones= model.predict(x_test)

tasa_de_acierto = accuracy_score(y_test, previsiones)
print(f'La tasa de acierto fue de: {round(tasa_de_acierto*100,2)}%')

La tasa de acierto fue de: 95.83%

In [14]:
from sklearn.model_selection import train_test_split

SEED=42

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=SEED)

model = LinearSVC()
model.fit(x_train,y_train)
previsiones= model.predict(x_test)

tasa_de_acierto = accuracy_score(y_test, previsiones)
print(f'La tasa de acierto fue de: {round(tasa_de_acierto*100,2)}%')

La tasa de acierto fue de: 96.0%

In [19]:
from sklearn.model_selection import train_test_split

SEED=42

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=SEED, stratify=y)

model = LinearSVC()
model.fit(x_train,y_train)
previsiones= model.predict(x_test)

tasa_de_acierto = accuracy_score(y_test, previsiones)
print(f'La tasa de acierto fue de: {round(tasa_de_acierto*100,2)}%')

La tasa de acierto fue de: 96.0%

In [16]:
y_train.value_counts()# con cuantos registros fue sometido a la prueba usando "y_train"

compro
0    49
1    25
Name: count, dtype: int64

In [17]:
25/74# 25 compraron de 74 registros y 49 no compraron

0.33783783783783783

In [18]:
y_test.value_counts()# con cuantos registros fue sometido a la prueba usando "y_test"

compro
0    17
1     8
Name: count, dtype: int64

In [20]:
8/25# 8 compraron de los 25 registros restantes y 17 no compraron

0.32